h1 {
    color: rgb(71, 133, 172);
    text-align: center;
}

h2 {
    color: darkcyan;
}

h3 {
    color: darkcyan;
}

body {
    background-color: black;
}

p {
    color: white;
}

ol {
    color: white;
}
a{
    color: rgb(104, 210, 242);
}